{% extends "layout4admin.html" %}
{% block title %}GIF Maker - Admin{% endblock %}
{% block body %}

<h2>Admin</h2>

<!--

    {{ all_settings }}

-->

<form method="POST" action="/admin_change_settings">
    <input type="hidden" name="uid" value="{{uid}}">
    <table>

        <tr>
            <td>
                {{ welcome_message }}
            </td>
            <td>
                {{ tasks_for_this_user }} cached task(s)
                &nbsp;|&nbsp;
                <a href="/admin_clear_cache">
                    Clear cache for this user
                </a>
            </td>
        </tr>

        <tr>
            <td>
                Select template:
            </td>
            <td>
                {% include "list_of_templates.html" %}
            </td>
        </tr>
        <tr>
            <td>
                Set properties:
            </td>
            <td>
                <div style="display: flex; align-items: flex-start; gap: 10px;">
                    <textarea name="settings"></textarea>
                    <div>{{ hint_for_settings | safe }}</div>
                </div>
                <input type="submit" value="Save">
            </td>
        </tr>

    </table>
</form>

<script>
    // all settings of this user : { "template id": "settings text", ... }
    const allSettings = {{ all_settings | tojson }};
    
    function set_textarea_text(template_id) {
        jQuery("textarea[name=settings]").val(allSettings[template_id] || '');
    }
    set_textarea_text(1); 

    jQuery(function() {
        jQuery("select[name=template]").change(function() {
            let v = jQuery(this).val();
            set_textarea_text(v);
        })
    })
</script>

{% endblock %}